{% extends 'ShowRoomManagement/base.html' %}
{% block title %}Brands{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1>Workers in {{showroomname}} <span class="btn btn-primary">Total {{total_members}}</span></h1>
    <div class="brandwrapper">
        {% for member in members %}
        <div class="card" style="background-image: url('{{member.profile_pic.url}}');background-size: cover;width: 25rem;height: 25rem;margin-top: 10px;display: grid;place-content: end;margin-left: 10px;">
            <div class="card-body" style="width: 25rem;">
              <h5 class="card-title" style="color:white;">{{member.name}}</h5>
              <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16pt;color:white;"><span class="badge bg-black">Role : {{member.role.name}} </span></p>
              <a href="{% url 'ShowRoomManagement:Member' member.id %}" class="btn btn-primary">See more about {{member.name}}</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
<style>
    .brandwrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
</style>
{% endblock %}